<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<div layout:fragment="content">
  <div>
    <h1>Device Map for <span th:text="${deviceId}"></span></h1>

    <!-- 1) No key or passphrase -->
    <div th:if="${googleMapsApiKey} == 'NO_KEY_CONFIGURED'">
      <p>You have not created or decrypted any API Key yet.</p>
      <p>
        <a th:href="@{/settings}">Create or update your key in Settings</a><br/>
        <a th:href="@{/admin/api-keys/use}">Use Key (decrypt with passphrase)</a>
      </p>
    </div>

    <!-- 2) Invalid passphrase -->
    <div th:if="${googleMapsApiKey} == 'INVALID_PASSPHRASE'">
      <p>Invalid passphrase.</p>
      <p>
        <a th:href="@{/admin/api-keys/use}">Try again</a>
      </p>
    </div>

    <!-- 3) Key decrypted successfully -->
    <div th:if="(${googleMapsApiKey} != 'NO_KEY_CONFIGURED')
                and (${googleMapsApiKey} != 'INVALID_PASSPHRASE')">

      <button id="btnRequestCoords">Request Coordinates</button>
      <div id="map" style="width:600px;height:400px"></div>

      <script th:inline="javascript">
        /*<![CDATA[*/
        let deviceId = /*[[${deviceId}]]*/ '123';

        function initMap() {
          let map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: 40.4167, lng: -3.7033},
            zoom: 12
          });
          console.log("Map init. (API key loaded via script element)");
        }

        document.addEventListener("DOMContentLoaded", function () {
          document.getElementById("btnRequestCoords").addEventListener("click", () => {
            console.log("Requesting coords for device:", deviceId);
            // fetch("/api/device/" + deviceId + "/request-coords", {method: "POST"}) ...
          });
        });
        /*]]>*/
      </script>

      <script th:inline="javascript">
        let scriptEl = document.createElement("script");
        scriptEl.src = "https://maps.googleapis.com/maps/api/js?key="
            + /*[[${googleMapsApiKey}]]*/ 'XYZ'
            + "&callback=initMap";
        scriptEl.async = true;
        scriptEl.defer = true;
        document.head.appendChild(scriptEl);
      </script>
    </div>
  </div>
</div>

</html>